#header{
    text-align: center;
    font-size: 10px;
    padding-bottom: 50px;
}

h1{
    text-align: center;
}

#main{
    margin-left: 30%;
    margin-right: 30%;
    
}

figure{
    text-align: center;
    margin: 0 auto;
    
}

#logo img{
    width: 180px;
}

#logo{}

.link h3{
   border-left-width: 5px;
   color: red;
   
}

.link{
    border-left: solid;
    color: coral;
    padding-left: 10px
    ;
}

figure img{
    max-width: 100%;
    border-radius: 15px;
    
}


a{
    color: blue;
}

.ingredienti{
    border-bottom: solid;
    color: grey;
    padding-bottom: 10px;
}

body{
    width: 100%;
}

.metodo{
    border-bottom: solid;
    color: grey;
    padding-bottom: 10px;
}

blockquote{
    background-color: darksalmon;
    height: 40px;
    display: flex;
    justify-content: center;
}

iframe{
    width: 100%;
}

video{
    width: 100%;
}

